@{
    Layout = null;
}

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Đăng ký - RzNovel</title>
    <!-- CSS files -->
    <link href="~/css/tabler.min.css" rel="stylesheet" />
    <link href="~/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="~/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="~/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="~/css/demo.min.css" rel="stylesheet" />
</head>
<body class=" border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
        <div class="container-tight py-4">
            <div class="text-center mb-4">
                <a href="." class="navbar-brand navbar-brand-autodark"><img src="~/rxz.svg" height="36" alt=""></a>
            </div>
            <form class="card card-md" id="signup_form" autocomplete="off">
                <div class="card-body">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Tạo một tài khoản mới</h2>

                        <div class="mb-3">
                            <label class="form-label">Tài khoản</label>
                            <input name="username" type="text" class="form-control" placeholder="Enter username">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Mật khẩu</label>
                            <div class="input-group input-group-flat">
                                <input name="password" type="password" class="form-control" placeholder="Password" autocomplete="off">
                                <span class="input-group-text">
                                    <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><circle cx="12" cy="12" r="2" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Nhập lại mật khẩu</label>
                            <div class="input-group input-group-flat">
                                <input name="re_password" type="password" class="form-control" placeholder="Re-enter pasword" autocomplete="off">
                                <span class="input-group-text">
                                    <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><circle cx="12" cy="12" r="2" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-check">
                                <input type="checkbox" class="form-check-input" name="agree"/>
                                <span class="form-check-label">Agree the <a href="./terms-of-service.html" tabindex="-1">terms and policy</a>.</span>
                            </label>
                        </div>

                        <div class="form-footer">
                            <button id="submit" type="submit" class="btn btn-primary w-100">Đăng ký</button>
                        </div>


                    </div>

            </form>
            <div class="text-center text-muted mt-3">
                Bạn đã có tài khoản trên hệ thống <a href="login" tabindex="-1">Đăng nhập</a>
            </div>
        </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="~/js/tabler.min.js" defer></script>
    <script src="~/js/demo.min.js" defer></script>
    <script src="~/libs/jquery/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#signup_form").on('submit', function (e) {
                e.preventDefault();
                var submitBut = $("#submit");
                submitBut.addClass("disabled");
                submitBut.html(`<span class="spinner-border spinner-border-sm me-2" role="status"></span>Đang xử lý...`)
                $.ajax({
                    url: 'register',
                    type: "POST",
                    dataType: 'json',
                    data: $("#signup_form").serialize(),
                    

                    success: function (result) {
                        if (result.code == "200") return setTimeout(() => { location.href = "login"}, 1000);
                        if (result.message.search("username") != -1) $("[name='username']").addClass("is-invalid");
                        if (result.message.search("pass") != -1) $("[name='password']").addClass("is-invalid");
                        if (result.message.search("agree") != -1) $("[name='agree']").addClass("is-invalid");
                        submitBut.removeClass("disabled");
                        submitBut.html("Đăng ký");

                    },
                    error: function (xhr, resp, text) {
                        console.log(xhr, resp, text);
                    }
                })
            })
        })
    </script>
</body>
</html>
