@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-cards">

    <div class="col-lg-8">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Biên tập viên đề cử</h3>
                    </div>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-6">
                                <div class="card">
                                    <div class="row g-0 align-items-center placeholder-glow">

                                        <div class="col">
                                            <div class="card-body">
                                                <div class="placeholder col-9 mb-3"></div>
                                                <div class="placeholder placeholder-xs col-10">
                                                </div>
                                                <div class="placeholder placeholder-xs col-11">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="card">
                                    <div class="row g-0 align-items-center placeholder-glow">

                                        <div class="col">
                                            <div class="card-body">
                                                <div class="placeholder col-9 mb-3"></div>
                                                <div class="placeholder placeholder-xs col-10">
                                                </div>
                                                <div class="placeholder placeholder-xs col-11">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="row g-0 align-items-center placeholder-glow">

                                        <div class="col">
                                            <div class="card-body">
                                                <div class="placeholder col-9 mb-3"></div>
                                                <div class="placeholder placeholder-xs col-10">
                                                </div>
                                                <div class="placeholder placeholder-xs col-11">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="row g-0 align-items-center placeholder-glow">

                                        <div class="col">
                                            <div class="card-body">
                                                <div class="placeholder col-9 mb-3"></div>
                                                <div class="placeholder placeholder-xs col-10">
                                                </div>
                                                <div class="placeholder placeholder-xs col-11">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Đề cử</h3>
                    </div>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-6">
                                <div class="card">
                                    <div class="row g-0 align-items-center placeholder-glow">

                                        <div class="col">
                                            <div class="card-body">
                                                <div class="placeholder col-9 mb-3"></div>
                                                <div class="placeholder placeholder-xs col-10">
                                                </div>
                                                <div class="placeholder placeholder-xs col-11">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="card">
                                    <div class="row g-0 align-items-center placeholder-glow">

                                        <div class="col">
                                            <div class="card-body">
                                                <div class="placeholder col-9 mb-3"></div>
                                                <div class="placeholder placeholder-xs col-10">
                                                </div>
                                                <div class="placeholder placeholder-xs col-11">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="row g-0 align-items-center placeholder-glow">

                                        <div class="col">
                                            <div class="card-body">
                                                <div class="placeholder col-9 mb-3"></div>
                                                <div class="placeholder placeholder-xs col-10">
                                                </div>
                                                <div class="placeholder placeholder-xs col-11">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="row g-0 align-items-center placeholder-glow">

                                        <div class="col">
                                            <div class="card-body">
                                                <div class="placeholder col-9 mb-3"></div>
                                                <div class="placeholder placeholder-xs col-10">
                                                </div>
                                                <div class="placeholder placeholder-xs col-11">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Mới cập nhật</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-vcenter card-table">
                            <thead>
                                <tr>
                                    <th>Thể loại</th>
                                    <th>Truyện</th>
                                    <th>Mới nhất</th>
                                    <th>Tác giả</th>
                                    <th>Thời gian</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Paweł Kuna</td>
                                    <td class="text-muted">
                                        UI Designer, Training
                                    </td>
                                    <td class="text-muted">
                                        <a href="#"
                                           class="text-reset">paweluna@howstuffworks.com</a>
                                    </td>
                                    <td class="text-muted">
                                        User
                                    </td>
                                    <td>
                                        <a href="#">Edit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jeffie Lewzey</td>
                                    <td class="text-muted">
                                        Chemical Engineer, Support
                                    </td>
                                    <td class="text-muted">
                                        <a href="#"
                                           class="text-reset">jlewzey1@seesaa.net</a>
                                    </td>
                                    <td class="text-muted">
                                        Admin
                                    </td>
                                    <td>
                                        <a href="#">Edit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mallory Hulme</td>
                                    <td class="text-muted">
                                        Geologist IV, Support
                                    </td>
                                    <td class="text-muted">
                                        <a href="#"
                                           class="text-reset">mhulme2@domainmarket.com</a>
                                    </td>
                                    <td class="text-muted">
                                        User
                                    </td>
                                    <td>
                                        <a href="#">Edit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dunn Slane</td>
                                    <td class="text-muted">
                                        Research Nurse, Sales
                                    </td>
                                    <td class="text-muted">
                                        <a href="#"
                                           class="text-reset">dslane3@epa.gov</a>
                                    </td>
                                    <td class="text-muted">
                                        Owner
                                    </td>
                                    <td>
                                        <a href="#">Edit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Emmy Levet</td>
                                    <td class="text-muted">
                                        VP Product Management, Accounting
                                    </td>
                                    <td class="text-muted">
                                        <a href="#"
                                           class="text-reset">elevet4@senate.gov</a>
                                    </td>
                                    <td class="text-muted">
                                        Admin
                                    </td>
                                    <td>
                                        <a href="#">Edit</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <div class="col-lg-4">
        <div class="row row-cards">

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Truyện mới</h3>
                        <div class="card-actions btn-actions">
                            <a href="#" class="btn-action">
                                <!-- Download SVG icon from http://tabler-icons.io/i/refresh -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path><path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path></svg>
                            </a>
                            <a href="#" class="btn-action">
                                <!-- Download SVG icon from http://tabler-icons.io/i/chevron-up -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="6 15 12 9 18 15"></polyline></svg>
                            </a>
                            <a href="#" class="btn-action">
                                <!-- Download SVG icon from http://tabler-icons.io/i/dots-vertical -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="19" r="1"></circle><circle cx="12" cy="5" r="1"></circle></svg>
                            </a>
                            <a href="#" class="btn-action">
                                <!-- Download SVG icon from http://tabler-icons.io/i/x -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                            </a>
                        </div>
                    </div>
                    <div class="list-group list-group-flush list-group-hoverable">
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-auto"><span class="badge bg-red"></span></div>
                                
                                <div class="col text-truncate">
                                    <a href="#" class="text-reset d-block">Paweł Kuna</a>
                                    <div class="d-block text-muted text-truncate mt-n1">
                                        Change
                                        deprecated
                                        html tags to text decoration classes (#29604)
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-auto"><span class="badge bg-red"></span></div>

                                <div class="col text-truncate">
                                    <a href="#" class="text-reset d-block">Paweł Kuna</a>
                                    <div class="d-block text-muted text-truncate mt-n1">
                                        Change
                                        deprecated
                                        html tags to text decoration classes (#29604)
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

