@model RzNovel.Models.BookInfo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>BookInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="WorkDirection" class="control-label"></label>
                <input asp-for="WorkDirection" class="form-control" />
                <span asp-validation-for="WorkDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PicUrl" class="control-label"></label>
                <input asp-for="PicUrl" class="form-control" />
                <span asp-validation-for="PicUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <input asp-for="AuthorId" class="form-control" />
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookDesc" class="control-label"></label>
                <input asp-for="BookDesc" class="form-control" />
                <span asp-validation-for="BookDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookStatus" class="control-label"></label>
                <input asp-for="BookStatus" class="form-control" />
                <span asp-validation-for="BookStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitCount" class="control-label"></label>
                <input asp-for="VisitCount" class="form-control" />
                <span asp-validation-for="VisitCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WordCount" class="control-label"></label>
                <input asp-for="WordCount" class="form-control" />
                <span asp-validation-for="WordCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentCount" class="control-label"></label>
                <input asp-for="CommentCount" class="form-control" />
                <span asp-validation-for="CommentCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastChapterId" class="control-label"></label>
                <input asp-for="LastChapterId" class="form-control" />
                <span asp-validation-for="LastChapterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastChapterName" class="control-label"></label>
                <input asp-for="LastChapterName" class="form-control" />
                <span asp-validation-for="LastChapterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastChapterUpdateTime" class="control-label"></label>
                <input asp-for="LastChapterUpdateTime" class="form-control" />
                <span asp-validation-for="LastChapterUpdateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsVip" class="control-label"></label>
                <input asp-for="IsVip" class="form-control" />
                <span asp-validation-for="IsVip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateTime" class="control-label"></label>
                <input asp-for="CreateTime" class="form-control" />
                <span asp-validation-for="CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateTime" class="control-label"></label>
                <input asp-for="UpdateTime" class="form-control" />
                <span asp-validation-for="UpdateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
